.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #ncdda92a3-b005-4057-8df0-bcb7e5dd0bb1 span#rtr-sc-cdda92a3-b005-4057-8df0-bcb7e5dd0bb1_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 400;
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #ncdda92a3-b005-4057-8df0-bcb7e5dd0bb1 .scenarioScreenThumbnail {
  width: 516.2370689655172px;
  height: 733.0px;
  background-image: url("../../resources/scenarios/screens/cb30b2c4-f62a-4bc3-afaa-94a69b24e86a.png");
}
.sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #ncdda92a3-b005-4057-8df0-bcb7e5dd0bb1 {
  position: absolute;
  left: 0.0px;
  top: 0.0px;
  width: auto;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 400;
}
_:-ms-fullscreen, :root .sc-bb8abf58-f55e-472d-af05-a7d1bb0cc014 #ncdda92a3-b005-4057-8df0-bcb7e5dd0bb1 {
}
#scenarioWrapper {
  width: 516.2370689655172px;
  height: 750.0px;
}