#s-2fe1c076-a60d-488e-861b-ab02780da804 > #backgroundBox {
  position: absolute;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 > #alignmentBox {
  position: relative;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Table_18 {
  position: absolute;
  width: 853.75px;
  height: 60.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_46 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_46 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_46 .verticalalign {
  vertical-align: middle;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_46 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_46 {
  width: 19.999999999999996%;
  height: 100.0%;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_46 .Cell_46 > *:first-child {
  margin-left: 0px;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_46 .Cell_46 > *:last-child {
  margin-right: 0px;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_46 .Cell_46 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_46 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Paragraph_111 {
  width: 40.01220703125px;
  min-height: 30.999999999999943px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Paragraph_111 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Paragraph_111 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Paragraph_111 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Paragraph_111 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Paragraph_111 span#rtr-s-Paragraph_111_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_47 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_47 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_47 .verticalalign {
  vertical-align: middle;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_47 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_47 {
  width: 19.999999999999996%;
  height: 100.0%;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_47 .Cell_47 > *:first-child {
  margin-left: 0px;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_47 .Cell_47 > *:last-child {
  margin-right: 0px;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_47 .Cell_47 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_47 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Paragraph_112 {
  width: 79.6943359375px;
  min-height: 39.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Paragraph_112 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Paragraph_112 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Paragraph_112 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Paragraph_112 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Paragraph_112 span#rtr-s-Paragraph_112_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_48 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_48 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_48 .verticalalign {
  vertical-align: middle;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_48 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_48 {
  width: 19.999999999999996%;
  height: 100.0%;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_48 .Cell_48 > *:first-child {
  margin-left: 0px;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_48 .Cell_48 > *:last-child {
  margin-right: 0px;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_48 .Cell_48 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_48 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Paragraph_113 {
  width: 39.19921875px;
  min-height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Paragraph_113 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Paragraph_113 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Paragraph_113 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Paragraph_113 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Paragraph_113 span#rtr-s-Paragraph_113_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_9 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_9 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_9 .verticalalign {
  vertical-align: middle;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_9 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_9 {
  width: 19.999999999999996%;
  height: 100.0%;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_9 .Cell_9 > *:first-child {
  margin-left: 0px;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_9 .Cell_9 > *:last-child {
  margin-right: 0px;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_9 .Cell_9 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_9 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Paragraph_134 {
  width: 52.53662109375px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Paragraph_134 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Paragraph_134 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Paragraph_134 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Paragraph_134 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Paragraph_134 span#rtr-s-Paragraph_134_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_10 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_10 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_10 .verticalalign {
  vertical-align: middle;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_10 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_10 {
  width: 19.999999999999996%;
  height: 100.0%;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_10 .Cell_10 > *:first-child {
  margin-left: 0px;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_10 .Cell_10 > *:last-child {
  margin-right: 0px;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_10 .Cell_10 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Cell_10 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Paragraph_133 {
  width: 51.6943359375px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Paragraph_133 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Paragraph_133 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Paragraph_133 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Paragraph_133 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Paragraph_133 span#rtr-s-Paragraph_133_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 #s-Image {
  position: absolute;
  width: 578.0px;
  height: 328.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2fe1c076-a60d-488e-861b-ab02780da804 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}