#s-ca3bb045-592e-4616-adc3-7a322139bb1d > #backgroundBox {
  position: absolute;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d > #alignmentBox {
  position: relative;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Table_18 {
  position: absolute;
  width: 857.6044451395669px;
  height: 60.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_46 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_46 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_46 .verticalalign {
  vertical-align: middle;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_46 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_46 {
  width: 20.0%;
  height: 100.0%;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_46 .Cell_46 > *:first-child {
  margin-left: 0px;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_46 .Cell_46 > *:last-child {
  margin-right: 0px;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_46 .Cell_46 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_46 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Paragraph_111 {
  width: 40.01220703124994px;
  min-height: 31.000000000000036px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Paragraph_111 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Paragraph_111 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Paragraph_111 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Paragraph_111 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Paragraph_111 span#rtr-s-Paragraph_111_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_47 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_47 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_47 .verticalalign {
  vertical-align: middle;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_47 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_47 {
  width: 20.0%;
  height: 100.0%;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_47 .Cell_47 > *:first-child {
  margin-left: 0px;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_47 .Cell_47 > *:last-child {
  margin-right: 0px;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_47 .Cell_47 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_47 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Paragraph_112 {
  width: 119.6943359375px;
  min-height: 19.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Paragraph_112 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Paragraph_112 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Paragraph_112 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Paragraph_112 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Paragraph_112 span#rtr-s-Paragraph_112_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_48 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_48 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_48 .verticalalign {
  vertical-align: middle;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_48 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_48 {
  width: 20.0%;
  height: 100.0%;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_48 .Cell_48 > *:first-child {
  margin-left: 0px;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_48 .Cell_48 > *:last-child {
  margin-right: 0px;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_48 .Cell_48 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_48 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Paragraph_113 {
  width: 39.19921875px;
  min-height: 39.000000000000036px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Paragraph_113 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Paragraph_113 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Paragraph_113 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Paragraph_113 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Paragraph_113 span#rtr-s-Paragraph_113_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_102 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_102 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_102 .verticalalign {
  vertical-align: middle;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_102 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_102 {
  width: 20.0%;
  height: 100.0%;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_102 .Cell_102 > *:first-child {
  margin-left: 0px;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_102 .Cell_102 > *:last-child {
  margin-right: 0px;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_102 .Cell_102 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_102 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Paragraph_116 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Paragraph_116 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Paragraph_116 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Paragraph_116 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Paragraph_116 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Paragraph_116 span#rtr-s-Paragraph_116_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_10 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_10 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_10 .verticalalign {
  vertical-align: middle;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_10 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_10 {
  width: 20.0%;
  height: 100.0%;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_10 .Cell_10 > *:first-child {
  margin-left: 0px;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_10 .Cell_10 > *:last-child {
  margin-right: 0px;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_10 .Cell_10 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Cell_10 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Paragraph_133 {
  width: 70.33740234375023px;
  min-height: 19.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Paragraph_133 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Paragraph_133 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Paragraph_133 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Paragraph_133 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d #s-Paragraph_133 span#rtr-s-Paragraph_133_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ca3bb045-592e-4616-adc3-7a322139bb1d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}